/* every page */

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color:#14183B;
}
html{
    height: 100%;
}
body{
    background-color: #D7D3C6;
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header{
    background-color: #B2A696;
}
main {
    flex: 1 0 auto; 
}

footer {
    background-color: #B2A696;
    flex-shrink: 0; 
}
.header {
    border:none;
    width:100%;
    font-family:'Overpass Mono', monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem;
    background-color: #D7D3C6;
    padding-left: 10%;
    padding-right: 10%;
}
.headerItem {
    display: inline-block;
    position: relative;
    color: #14183B;
    font-size: 20px;
}
.headerItem a{
    font-size: 20px;
    color: #14183B;
}
.headerItem::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
    border-radius: 50px;
}
.headerItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}
.headerItem a:link {
    text-decoration: none;
}
.headerItem a:visited {
    text-decoration: none;
}
.headerItem a:hover {
    text-decoration: none;
}
.headerItem a:active {
    text-decoration: none;
}
.mobile-nav{
    display: none;
}
.site-nav{
    height:15vh;
    margin:0 10% 0 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.site-nav a{
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    height: 100%;
    color: #14183B;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}
.site-nav h1{
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    height: 100%;
    border-bottom: 5px solid #14183B;
    font-size: 40px;
}
.site-nav a:hover{
   border-bottom: 5px solid #14183B;
}
.site-nav a:active{
    border-bottom: 5px solid #14183B;
    background-color: #5B9676;
 }
footer{
    background-color: #B2A696;
}
.footer-wrapper{
    margin:0 10% 0 10%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.footer-wrapper section ul li{
    list-style-type: none;
    margin-bottom:4px;
    font-style: normal;
}
.footer-wrapper section ul li a{
    font-size: 15px;
}
.footer-wrapper section ul li a:link{
    text-decoration: none;
}
.footer-wrapper section ul li a:hover{
    text-decoration: underline;
}
.footer-wrapper section ul li a:active{
    text-decoration: underline;
    color:#5B9676;
}
.footer-wrapper section ul{
    list-style-type: none;
    padding-left:0;
}
h5{
    font-size:16px;
}
.button{
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    background-color: #5B9676;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5vh;
    padding: 4px;
    margin: 4px 0 4px 20px; 
}
.button:hover{
    background-color: #7dc69e;
}
.button:active{
    background-color: #236154;
    color: #F8F8F0;
}
.addToCart{
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    background-color: #5B9676;
    text-decoration: none;
    font-weight: bold;
    font-size:1.5em;
    border-radius: 1vh;
    padding: 10px;
    margin: 4px 0 4px 20px; 
}
.addToCart:hover{
    background-color: #7dc69e;
}
.addToCart:active{
    background-color: #236154;
    color: #F8F8F0;
}
.prodPrice::before {
    background-image: url(images/product-detail-images/JurassicPAY-logo.png);
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-size: cover;
    content: '';
    transform: translateY(25%);
}
 /* homepage */
.homepage-banner{
    background-image: url(images/banner-images/homepage-image.jpg);
    background-size: cover;
    background-position-y: center;
    height:60vh;
    display: flex;
}
.homepage-banner div{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: auto ;
    background-color: #C4C896;
    padding: 20px;
    max-width: 650px;
    border-radius: 2vh;
}
.homepage-banner div h2{
    margin-bottom:0;
}
.homepage-banner div p{
    font-size: 1.25em;
}
.homepage-banner div a{
    margin:auto;
    padding:10px;
}
.categories-homepage, .customer-experiences{
    margin: 0 10%;
}
.categories-homepage{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.categories-homepage h2{
    width:100%;
}
.categories-homepage section a{
    display: flex;
    flex-flow:column-reverse nowrap;
}
.categories-homepage section a img{
    border-radius: 1vh;;
}
.categories-homepage section a h3 {
    align-self:center;
}
.categories-homepage section a:link{
    text-decoration: none;
}
.categories-homepage section a:hover{
    text-decoration: underline;
}
.categories-homepage section a:last-of-type:hover{
    text-decoration: none;
}
.categories-homepage section a h3:active{
    text-decoration: underline;
    color:#5B9676;
}
.categories-homepage section{
    width:15%;
}
.categories-homepage section:last-of-type{
    width:100%;
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    border-top: 5px solid #14183B;
    border-bottom: 5px solid #14183B;
}
.customer-experiences{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.customer-experiences h2{
    width: 100%;
}
.customer-experiences figure{
    margin:0;
    width:33%;
    height: 53%;
    overflow: hidden;
    border: 4vh solid transparent;
    border-image: url(images/customer-experience-images/jp-border-image.png) 40 round;
}
.customer-experiences figure img{
    width: 100%;
}
/* product detail */
.product-detail-wrapper{
    display:flex;
    flex-flow:row-reverse nowrap;
    justify-content: space-between;
    margin: 0 20%;
    margin-bottom: 20vh;
}
.product-detail-wrapper figure img{
    border-radius: 1vh;
}
.product-detail-written{
    display:flex;
    flex-flow:column nowrap;
}
.product-detail-written h2{
    width:100%;
    margin-bottom: 0;
}
.product-detail-written h4{
    margin-bottom: 0;
}
.product-detail-written ul{
    margin-top: 0;
}
.product-detail-written ul li{
    list-style-type: square;
}
.product-detail-written ul li::marker{
    color: #5B9676;
}
.prod-detail-buy{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-weight: bold;
    width: 100%;
}
.prod-detail-buy div{
    align-self: center;
}
.prod-detail-buy p{
    padding-bottom: 11px;
    margin: 0;
    align-self: center;
}
.product-detail-written form{
    width: 100%;
}
.size-buttons{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.size-button{
    width: 25%;
}
.size-button{
    background-color: #5B9676;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5vh;
    padding: 4px;
    margin: 4px 0 4px 20px; 
}
.size-button:hover{
    background-color: #7dc69e;
}
.size-button.active{
    background-color: #236154;
    color: #F8F8F0;
}
.checked{
    color:#EEB01F;
}
.product-detail-written p{
    width:50%;
}
.product-detail-written h4, form h3{
    width:100%;
}
.product-detail-footer{
    margin-top:20vh;
}
/* About */
#who-we-are{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: solid #14183B;
    margin:0 10%;
}
#our-story{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: solid #14183B;
    padding: 10px 0;
    margin:0 10%;
}
.about-written{
    width: 46%;
    font-size: 1.25em;
}

.about-image{
    width: 46%;
    object-fit: cover;
    object-position: center;
}

.founder-card-wrapper{
    display: flex;
    flex-flow: column nowrap;
    margin: 15px 15px 15px 15px;
}
.founder-card-wrapper h3{
    align-self: center;
}
.founder-card-wrapper address a:link{
    text-decoration: none;
}
.founder-card-wrapper address a:hover{
    text-decoration: underline;
}
.founder-card-wrapper address a:active{
    text-decoration: underline;
    color:#5B9676;
}

.founder-card-wrapper img {
    display: flex;
    align-self: center;
    width: 100%;
    height:70vh;
    object-fit: cover;
    object-position: center;
}
.founder-card-wrapper a{
    font-size: 16px;
}
/* expedition detail */
.expedition-detail-wrapper section{
    margin:0 10%;
}
.expedition-banner{
    background-image: url(images/banner-images/homepage-image.jpg);
    background-size: cover;
    background-position-y: center;
    height:50vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    display: flex;
}
.feeding{
    background-image: url(images/expedition-images/feeding-dinosaurs-image.jpg)
}
.hunting{
    background-image: url(images/expedition-images/hunting-dinosaurs-images.jpeg)
}
.night{
    background-image: url(images/expedition-images/night-tour-image.jpg)
}
.triceratops{
    background-image: url(images/expedition-images/riding-triceratops-image.jpg)
}
.rafting{
    background-image: url(images/expedition-images/rafting-tour-image.jpg)
}
.rex{
    background-image: url(images/expedition-images/vechicle-and-trex-image.jpg)
}
.vechicle{
    background-image: url(images/expedition-images/vechicle-tour-image.jpg)
}
.volcano{
    background-image: url(images/expedition-images/volcano-hike-image.jpg)
}
.expedition-banner div{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: auto ;
    background-color: #C4C896;
    padding: 20px;
    max-width: 650px;
    border-radius: 2vh;
}
.expedition-banner div h2{
    width: 100%;
    margin-bottom:0;
}
.expedition-banner div p{
    font-size: 1.25em;
    margin-bottom:0;
}
.expedition-banner div p:nth-of-type(2){
    font-weight: bold;
}
.expedition-detail-items{
    display: flex;
    flex-flow: row wrap;
}
fieldset{
    min-width: 0;
    display:flex;
    flex-flow:column-reverse nowrap;
    justify-content: flex-end;
    background-color: #C4C896;
    border-radius: 1vh;
    width: 22%;
    margin-right: 2%;
    margin-bottom: 20px;
    border: solid #14183B;

}
select[name="Size"],select[name="Gender"]  {
    background-color: #F8F8F0;
    color: #14183B;
    width: 35%;
  }
.expedition-detail-dropdowns{
    display: flex;
    justify-content: space-around;
}
.exp-detail-stars-and-price {
    order: 2;
    margin-left: 7%;
}
.exp-detail-stars-and-price p {
    margin-top:  0.5em;
    margin-bottom:  0.5em;
}
.exp-detail-stars-and-price div {
    margin-top:  0.5em;
    margin-bottom:  0.75em;
}
fieldset img{
    order: 4;
    border-radius: 1vh;
}
legend{
    display: none;
}
.expedition-detail-items fieldset h4{
    order: 4;
    align-self: center;
    margin-bottom: 0.5em;
}
.expedition-detail-items fieldset h4 a{
    text-decoration: none;
}
select{
    font-size: 1em;
}
option{
    text-align: center;
}
.exp-detail-cart-wrapper{
    width: 100%;
}
.exp-detail-cart-wrapper input{
    margin-left: 0;
}
.exp-detail-hidden{
    display: none;
}
/* Product Categories */
.prod-category-header{
    margin:15px 23%;
}
.product-categories-wrapper{
    margin: 0 10%;
    display: flex;
    flex-flow: row nowrap;
    border-top: solid #14183B;
}
.product-categories-wrapper section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 85%;
    border-left: solid #14183B;
}
.product-categories-wrapper nav{
    align-self: flex-start;
    position: sticky;
    top:10px;
    width: 15%;
    line-height: 2.5em;
}
.product-categories-wrapper nav a{
    text-decoration: none;
}
.product-categories-wrapper nav h3{
    margin-top: 0;
    margin-bottom: 0;
}
.product-categories-wrapper nav ul{
    margin-left: 0;
    margin-top:0;
    padding-left: 13%;
}
.product-categories-wrapper nav ul li{
    list-style-type: square;
}
.product-categories-wrapper nav ul li::marker{
    color: #5B9676;
}
.product-categories-wrapper nav ul li a:link{
    text-decoration: none;
}
.product-categories-wrapper nav ul li a:hover{
    text-decoration: underline;
}
.product-categories-wrapper nav ul li a:active{
    text-decoration: underline;
    color:#5B9676;
}
.product-categories-wrapper section article{
    background-color: #C4C896;
    width:30%;
    margin: 15px 15px 15px 15px;
}
.product-card-categories{
    display: flex;
    flex-flow: column-reverse nowrap;
    padding:5%;
    text-decoration: none;
}
.product-card-categories h4{
    order:3;
    margin-bottom: 0;
}
.product-card-categories p{
    order:2;
}
.product-card-categories img{
    order:4;
    border-radius: 1vh;
}

/* terms of service */
.terms-of-service-wrapper{
    margin: 0 10%;
}
.terms-of-service-wrapper section{
    max-width: 60%;
}
.terms-of-service-wrapper section ul li{
    list-style-type: square;
}
.terms-of-service-wrapper section ul li::marker{
    color: #5B9676;
}

/* expedition packages */
.expedition-packages-wrapper{
    margin: 0 10%;
}
#premium-packages section{
    background-color: #C4C896;
    border-radius: 1vh;
    margin-bottom: 30px;
}
.premium-package-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
}
.premium-packages-written{
    width: 46%;
}
.premium-packages-written p,a{
    font-size: 1.15em;
}
.premium-packages-buy{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-weight: bold;
}
.premium-packages-buy a{
    align-self: center;
    padding: 10px 20px;
}
.premium-packages-buy p{
    margin-bottom: 30px;
}
.premium-packages-image{
    width: 46%;
    max-height:30vh;
    object-fit: cover;
    margin:15px 0;
}
#basic-packages{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#basic-packages h2,.line-break{
    width: 100%;
}
#basic-packages section{
    width: 46%;
    background-color: #C4C896;
    border-radius: 1vh;
    margin-bottom: 30px;
}
.basic-package-wrapper{
    display: flex;
    flex-flow: column nowrap;
    padding: 15px 15px 15px 15px;
}
.basic-package-wrapper img{
    order:0;
}
.basic-package-written{
    order:1;
}
.basic-packages-buy{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-weight: bold;
}
.basic-packages-buy a{
    align-self: center;
    padding: 10px 20px;
}
.basic-packages-buy p{
    margin-bottom: 30px;
}
.expedition-packages-wrapper h2{
    margin-bottom:4px;
}
.line-break{
    border-bottom: solid #14183B;
    margin-bottom:20px;
}
.mega-premium-banner{
    background-image: url(images/expedition-images/hunting-dinosaurs-images.jpeg);
    background-size: cover;
    background-position-y: center;
    height:80vh;
    border-radius: 1vh;
    margin-bottom: 20px;
    display: flex;
}
.mega-premium-banner>div{
    width: 50%;
    margin: auto;
    background-color: #C4C896;
    padding: 20px;
    max-width: 650px;
    border-radius: 2vh;
}
.mega-premium-banner div p,a{
    font-size: 1.15em;
}
.mega-packages-buy{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-weight: bold;
}
.mega-packages-buy a{
    align-self: center;
    padding: 10px 20px;
}
.mega-packages-buy a:hover{
    background-color: #7dc69e;
}
.mega-packages-buy a:active{
    background-color: #236154;
    color: #F8F8F0;
}

/* shopping cart */
.shopping-cart-wrapper {
    margin: 0 10%;
}
#cart{
    margin-bottom: 20px;
}
.cartItem{
    background-color: #C4C896;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 1vh;
    padding: 10px;
}
.cartItem img{
    width: 25%;
    border-radius: 2vh;
}
.cartItemInfo{
    width: 73%;
}
.cartItemInfo h3{
    margin-top: 0;
}
.removeBtn{
    background-color: #5B9676;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5vh;
    padding: 4px;
}
.removeBtn:hover{
    background-color: #7dc69e;
}
.removeBtn:active{
    background-color: #236154;
    color: #F8F8F0;
}
#emptyCart{
    background-color: #5B9676;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5vh;
    padding: 4px;
}
#emptyCart:hover{
    background-color: #7dc69e;
}
#emptyCart:active{
    background-color: #236154;
    color: #F8F8F0;
}
#terms-of-service{
    font-size: 15px;
}
#terms-of-service:link{
    text-decoration: none;
}
#terms-of-service:hover{
    text-decoration: underline;
}
#terms-of-service:active{
    text-decoration: underline;
    color:#5B9676;
}
@media only screen and (max-width:640px) {
    /* every page */
    .header {
        padding-left: 5%;
        padding-right: 5%;
    }
    .headerItem {
        font-size: 7px;
    }
    .headerItem a{
        font-size: 7px;
    }
    .headerItem::after {
        height: 1px;
    }
    .site-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
        z-index: 1;
    }
    .mobile-nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .mobile-nav a:last-child{
        padding-right: 5%;
    }
    .mobile-bars{
        padding-left: 5%;
    }
    .mobile-nav a{
        color: #14183B;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }
    .mobile-nav h1{
        font-size: 30px;
        padding: 0;
        margin: 0;
    }
    #hamburger-links {
        display: none;
        position: absolute; 
        top: 100%; 
        background-color: #B2A696; 
    }
    #hamburger-links a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333; 
    }
    #hamburger-links a:active{
        background-color: #5B9676;
     }
    /*the above (.mobile-nav) is a combination of https://www.w3schools.com/howto/howto_js_mobile_navbar.asp and my own modifications to make a mobile nav bar*/
    .button{
        font-weight: bold;
        border-radius: 0.5vh;
        padding: 4px;
        margin: 4px 0 4px 20px;
        font-size: 16px; 
    }
    .footer-wrapper{
        margin:0 5%;
        flex-flow: row wrap;
    }
    .footer-wrapper section{
        width: 46%;
    }
    /* homepage */
    .homepage-banner{
        background-position-x: center;
        height:50vh;
    }
    .homepage-banner div{
        width: 90%;
        padding: 10px;
        border-radius: 2vh;
    }
    .homepage-banner div h2{
        font-size: 21px;
    }
    .homepage-banner div p{
        font-size: 16px;
    }
    .homepage-banner div a{
        margin:auto;
        padding:10px;
    }
    .categories-homepage, .customer-experiences{
        margin: 0 5%;
    }
    .categories-homepage h2{
        font-size: 21px;
    }
    .categories-homepage section a h3 {
        font-size: 18.83px;
    }
    .categories-homepage section{
        width:46%;
    }
    .categories-homepage section:last-of-type{
        flex-flow:row wrap;
        justify-content: flex-start;
    }
    .categories-homepage section:last-of-type a{
        padding: 10px;
        margin-left: 0;
    }
    .customer-experiences{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .customer-experiences figure{
        width:100%;
    }
    /* product detail */
    .product-detail-wrapper{
        flex-flow:column-reverse nowrap;
        margin: 0 5%;
    }
    .product-detail-wrapper figure{
        align-self: center;
        width:100%;
    }
    .product-detail-wrapper figure img{
        width: 100%;
    }
    .product-detail-written h2{
        font-size: 21px;
    }
    .product-detail-written h3{
        font-size: 18.83px; 
    }
    .product-detail-footer{
        margin-top:0;
    }
    /* About */
    #who-we-are{
        flex-flow: column nowrap;
        margin:0 5%;
    }
    #our-story{
        flex-flow: column nowrap;
        margin:0 5%;
    }
    .about-written{
        width: 100%;
    }
    .about-written h2{
        font-size: 21px;
    }
    .about-written p{
        font-size: 16px;
    }
    .about-image{
        width: 100%;
    }
    .founder-card-wrapper h3{
        font-size: 18.83px
    }
    /* expedition detail */
    .expedition-detail-wrapper section{
        margin: 0 5%;
    }
    .expedition-detail-wrapper section:first-of-type{
        margin:0 5%;
        height: 70vh;
    }
    .expedition-banner{
        background-position-x: center;
    }
    .expedition-banner div{
        width: 90%;
    }
    .expedition-banner div h2{
        font-size: 21px;
    }
    .expedition-banner div p{
        font-size: 16px;
    }
    .expedition-detail-wrapper section h3{
        font-size: 18.83px
    }
    fieldset{
        width: 46%;
        justify-content: flex-end;
    }
    fieldset h4 a{
        font-size: 16px;
    }
    select[name="Size"],select[name="Gender"]  {
        width: 70%;
        margin-bottom: 10px;
    }
    .expedition-detail-dropdowns{
        flex-flow: column nowrap;
    }
    .exp-detail-stars-and-price {
        order: 2;
        margin-left: 0;
    }
    .exp-detail-stars-and-price p {
        margin:0;
    }
    /* terms of service */
    .terms-of-service-wrapper{
        margin: 0 5%;
    }
    .terms-of-service-wrapper h2{
        font-size: 21px;
    }
    .terms-of-service-wrapper section{
        max-width: 100%;
    }
    .terms-of-service-wrapper section h3{
        font-size: 18.83px;
    }
    /* expedition packages */
    .expedition-packages-wrapper{
        margin: 0 5%;
    }
    .expedition-packages-wrapper h2{
        font-size: 21px;
    }
    .expedition-packages-wrapper h3{
        font-size: 18.83px;
    }
    #premium-packages h2{
        font-size: 21px;
    }
    .premium-package-wrapper{
        flex-flow: column-reverse nowrap;
    }
    .premium-packages-written{
        width: 100%;
    }
    .premium-packages-written p,a{
        font-size: 16px;
    }
    .premium-packages-image{
        width: 100%;
    }
    #basic-packages{
        flex-flow: column nowrap;
    }
    #basic-packages section{
        width: 100%;
    }
    .basic-package-wrapper{
        flex-flow: column nowrap;
    }
    .basic-package-wrapper img{
        order:1;
    }
    .basic-package-written{
        order:0;
    }
    .mega-premium-banner{
        background-position-x:center;
        height:70vh;
    }
    .mega-premium-banner>div{
        width: 90%;
    }
    .mega-premium-banner div p,a{
        font-size: 16px;
    }
    .mega-packages-buy p{
        margin-bottom: 30px;
    }
    /* shopping cart */
    .shopping-cart-wrapper{
        margin: 0 5%;
    }
    .shopping-cart-wrapper h2{
        font-size: 21px;
    }
    .cartItem{
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    .cartItem img{
        width: 100%;
    }
    .cartItemInfo{
        margin-top: 10px;
        width: 100%;
    }
    /* product categories */
    .prod-category-header{
        margin:15px 40%;
        font-size: 21px;
        width: 50%;
    }
    .product-categories-wrapper{
        margin: 0 5%;
    }
    .product-categories-wrapper section{
        width: 70%;
    }
    .product-categories-wrapper nav{
        width: 30%;
    }
    .product-categories-wrapper nav h3{
        font-size: 18.83px;
    }
    .product-categories-wrapper section article{
        width:95%;
    }
}